
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
// --------------------------------------------------------
// File name: Index.cshtml
// File date: Noviembre-2022
// Programmer: Gabriel Maldonado Colon
// Description: Pagina index de la aplicacion web.
// COMP-4400 en 
// C# con MS SQL Database
// --------------------------------------------------------
-->

<div class="jumbotron text-center">
    <h1>Free Contacts Online!</h1>
    <p>Need a place to save your contacts online?</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Free Storage</h3>
            <img src="https://www.citypng.com/public/uploads/preview/hd-green-storage-host-clouds-icon-png-31631696259m7sad9lqth.png" class="float-left" alt="Cloud-Logo" width="304" height="236">
            <p><i class="fas fa-arrow-right"></i> Create as many contacts as you'd like without restrictions! FreeContacts <strong>does not charge</strong> for product usage. Saving contacts is completely free.'</p>
        </div>
        <div class="col-sm-4">
            <h3>Privacy</h3>
            <img src="https://whc.ca/wp-content/themes/whc/images/privacy-protection.svg" class="float-left" alt="Cloud-Logo" width="304" height="236">
            <p><i class="fas fa-arrow-right"></i> Contacts saved using FreeContacts services are <strong>secured ensuring user's privacy</strong>.'</p>
        </div>
        <div class="col-sm-4">
            <h3>Unlimited Access</h3>
            <img src="https://i.pinimg.com/564x/7a/00/38/7a0038561389dd1b84d77e8cd1928bde.jpg" class="float-left" alt="Cloud-Logo" width="304" height="236">
            <p><strong><i class="fas fa-arrow-right"></i> Long lasting access</strong> to your contacts. Once your contacts are saved in our database, data won't be modified or deleted by FreeContacts.'</p>
        </div>
    </div>
</div>

